{% extends 'page/home_base.html' %}
{% load static %}
{% block main %}
<main class="main">
    <div class="container pt-4 ">
        <div class="mb-4 col-10 mx-auto col-md-12">
                <br>
                <h4>Já encontrou a oportunidade que você estava procurando?</h4>
                <br>
                <br>
                <h5>Fique tranquilo que estamos aqui para te ajudar com isso, o processo é bem simples!</h5>
                <br>
                <h6>Mande uma mensagem para o nosso contato, com o nome do nosso site, descreva a vaga que você está procurando 
                  se quiser pode nos enviar o seu currículo.</h6>
                <br>
                <h5>Qualquer dúvida entre em contato conosco!</h5>
                <!-- Botão de WhatsApp -->
                <a href="https://api.whatsapp.com/send?phone=SEU_NUMERO_AQUI&text=Olá%20AQ!temVagas" target="_blank" class="btn btn-success">
                    <i class="bi bi-whatsapp"></i> WhatsApp
                </a>
                <br>
                <br>
            </div>
        </div> 
</main>
{% endblock main %}

