{% extends 'page/home_base.html' %}
{% load static %}
{% block main %}
{% block header %}{% endblock header %}

  <!-- Notificação de mensagem -->
  <div class="col-lg-5 mx-auto shadow p-0 mt-4 mb-4 text-center">
    {% if messages %}
    <div class="alert alert-success ">
    {% for message in messages %}
    <p>{{ message }}</p> 
    {% endfor %}
    </div>
    {% endif %}
    </div>
    <br>
    <!-- Notificação de mensagem -->
<div class="container col-lg-7">
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  <nav id="navmenu" class="navmenu">
      <ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          <ul class="d-flex">
              <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </ul>
          <li><a href="{% url 'perfil_candidato' %}">Voltar</a></li>
      </ul>
  </nav>
</div>
<hr>
<div class="container">
  <div class="mx-auto p-0 mt-4 mb-8 text-center col-lg-6">
    {% if curriculos %}
    <h3>Currículos Enviados</h3>
    {% for curriculo in curriculos %}
      <div class="list-group-item">
        <strong>Data de Envio:</strong> <span>{{ curriculo.data_envio }}</span><br>
        <strong>Cargo Pretendido:</strong> <span>{{ curriculo.cargo_pretendido }}</span><br>
        <strong>Salário Pretendido:</strong> <span>R$ {{ curriculo.salário_pretendido }}</span>
        <form action="{% url 'deletar_curriculo_enviado' curriculo.id %}" method="post" class="mt-2">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
      </div>
      <hr>
    {% endfor %}
    {% else %}
    <p>Você ainda não tem curriculos enviados no momento!</p>
    {% endif %}
    
    
  </div>
  </div>

{% endblock main %}
