{% extends 'page/home_base.html' %}
{% load static %}
{% block main %}
{% block header %}{% endblock %}
<div class="container pt-5 col-lg-12"> 
  <div class="row"> 
    <div class="text-left mb-3"> 
      <a href="/" class="btn btn-primary">Voltar</a> 
    </div> 
  </div>
</div>
<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
<hr>
<main class="main">
    <div class="container text-center p-1">
        <div class=" col-lg6 pt-5 ">
            
                <!-- Notificação de mensagem -->
<div class="container col-lg-5 pt-5 text-center">
    {% if messages %}
    <div class="alert alert-success col-lg-14">
    {% for message in messages %}
    <p>{{ message }}</p> 
    {% endfor %}
    </div>
    {% endif %}
    </div>
    <br>
    <!-- Notificação de mensagem -->

            {% for vaga_oferecido in detalhes %}
           <!-- Saber mais -->
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-out" >
          <div class="col-xl-6 col-lg-6 text-center ">
            <i class="sitename">AQ!temVagas</i><br><br>
            <i class="tierra">Data de Postagem: {{vaga_oferecido.Data_criacao|date:"d/m/Y, h:i." }}</i>   
            <i class="tierra"><h2>{{vaga_oferecido.Cargo}}</h2></i><br>
            <i class="tierra" ><h4>Salário</h4>{{vaga_oferecido.Salário}}</i><br><br>
            <i class="tierra "><h4>Requisitos</h4>{{vaga_oferecido.Requisitos}}</i><br><br>   
            <i class="tierra "><h4>Beneficios</h4>{{vaga_oferecido.Beneficios}}</i><br><br>
            <i class="tierra "><h4>Descrição</h4>{{vaga_oferecido.Descrição}}</i><br><br>
            <i class="tierra "><h4>Empresa</h4>{{vaga_oferecido.Empresa}}</i><br><br>
            <i class="tierra "><h4>Contato</h4>{{vaga_oferecido.Contato}}</i><br><br>
           <!-- Saber mais -->
            {% endfor %}
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
            <br>
        </div>
    </div>

</main>
{% endblock %}
    