{% extends 'page/home_base.html' %}
{% block main %}
<main class="main">
  <div class="container pt-1">
    <div class="col-lg-4 mx-auto shadow p-0 mt-4 mb-4">
      <div class="p-5 text-center">
       
          <h2>Redefinir Senha</h2>
          <p>Preencha seu email e enviaremos um link para redefinir sua senha.</p>
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-success" type="submit">Redefinir Senha</button>
          </form>

          <div id="messages" class="mt-4">
            {% if messages %}
              <div class="alert alert-info">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock main %}
