{% extends 'page/home_base.html' %}
{% load static %}
{% block main %}
<main class="main">
  <div class="container pt-4 ">
    <div class="mb-4 col-10 mx-auto col-md-12">
        <i>
          AQ!temvagas é um site elaborado para quem está precisando de uma oportunidade no mercado
          de trabalho...
          AQ!temvagas é um site elaborado para quem está precisando de uma oportunidade no mercado
          de trabalho...
          AQ!temvagas é um site elaborado para quem está precisando de uma oportunidade no mercado
          de trabalho...
          AQ!temvagas é um site elaborado para quem está precisando de uma oportunidade no mercado
          de trabalho...
          AQ!temvagas é um site elaborado para quem está precisando de uma oportunidade no mercado
          de trabalho...
          AQ!temvagas é um site elaborado para quem está precisando de uma oportunidade no mercado
          de trabalho...
          AQ!temvagas é um site elaborado para quem está precisando de uma oportunidade no mercado
          de trabalho...
          AQ!temvagas é um site elaborado para quem está precisando de uma oportunidade no mercado
          de trabalho...
          AQ!temvagas é um site elaborado para quem está precisando de uma oportunidade no mercado
          de trabalho...
          AQ!temvagas é um site elaborado para quem está precisando de uma oportunidade no mercado
          de trabalho...
          
        </ç>
      </div>       
    </div>
</main>
{% endblock main %}


  



   
